.secondBloc
{
    width: 100%;
}

.containerXembee
{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    width: 100%;
    height: 100%;
}

.ligneDescription
{
    position: absolute;
    width: 149.68px;
    height: 0px;
    left: 0px;
    top: 0px;

    /* Marron */

    border: 2px solid #3F2C10;
    /* transform: rotate(139.61deg); */
}

.imgProduit
{
    position: absolute;
    scale: 1;
    top: 50%;
    width: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ellipseFond
{
    z-index: -1;

    width: 438px;
    height: 548px;
    background-color: #FCB041;
    border-radius: 100%;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
}

.descriptionProduit
{
    /* position: absolute; */
    max-width: 247px;
    max-height: 120px;
}

.grilleXembee {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    align-content: center;
    align-items: center;
}


.description1, .description2
{
    text-align: right;
}
.description1, .description3
{
    margin-bottom: 300px;
}

.rondDescription
{
    z-index: 10;
    position: absolute;
    border-radius: 100%;
    width: 41px;
    height: 41px;
    text-align: center;
    background-color: #3F2C10;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.rondDescription1
{
    top:170px;
    left: 80px;
}
.rondDescription2
{
    bottom:130px;
    left: 80px;
}
.rondDescription3
{
    top:140px;
    right: 80px;
}

.maisAussiBlocResponsive
{
    margin: 200px 10% 0 10%;
    display: none;
}

.maisAussiBloc p
{
    max-width: 411px;
}

.troisiemeBloc
{
    padding-top: 50px;
    width: 100%;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.troisiemeBloc h2
{
    margin-bottom: 50px;
}
.blocsXembeeDesktop
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.contenuBanniere
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.gallery 
{
    width: 100%;
}
.blocsXembeeResponsive
{
    width: 100%;
    display: none;
}

.fondBanniere
{
    z-index: -1;
    position: absolute;
    scale: 1.4;
    background-image: url("../img/fondConcept.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
}

.imgProduitBanniere
{
    width: 158px;
    height: 158px;
    border-radius: 100%;
    background-color: white;
}

.troisiemeBloc h3
{
    max-width: 200px;
}

.quatriemeBloc
{
    margin-top: 50px;
}


.decoQuatriemeBloc {
    position: absolute;
    top: 2500px;
    right: -140px;

}

@media only screen and (max-width: 800px) {
    .rondDescription {
        width: 20px;
        height: 20px;
    }
    .secondBloc p
    {
        font-size: small;
    }
    .fondBanniere
    {
        scale: 5;
    }
    .maisAussiBlocDesktop
    {
        display: none;
    }
    .maisAussiBlocResponsive
    {
        display: block;
    }
    .description1,
        .description3 {
            margin-bottom: 150px;
        }
    .ellipseFond {
        width: 140px;
        height: 180px;
    }
        .rondDescription1 {
            top: 60px;
            left: 40px;
        }
    
        .rondDescription2 {
            bottom: 60px;
            left: 40px;
        }
    
        .rondDescription3 {
            top: 100px;
            right: 40px;
        }
}