.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}

h1
{
    color: #FCB041;
}

.carteContact
{
    margin: -10% -100px -300px -100px ;
    width: 120vw;
}

@media only screen and (max-width: 800px) {
    .carteContact {
        margin: 0% -100px -100px -100px;
        width: 180vw;
    }
    h1 {
        font-size: large;
    }
}