@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button
{
    z-index: 30;
    cursor: pointer;
}

a {
    z-index: 20;
    color: black;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
}

a:hover {
    color: red;
}

.logoHeader
{
    width: auto;
    margin-left: 10px;
    height: auto;
    max-width: 200px;
}

.headercontainer {
    z-index: 20;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    left: 0;
    height: 70px;
    width: 100%;
}

.fondHeader
{
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -70px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 20px;
    transition: top 0.5s ease-in-out;
    
}
.logo
{
    z-index: 3;
}


.menu {
    z-index: 3;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    right: 0;
    white-space: nowrap;
    width: 50%;
    align-items: center;
}

.lienHeader {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: large;
    margin-right: 8%;
}


.footerContainer {
    z-index: 10;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 1440px;
    background: #FCB041;
    width: 100%;
}

.logoFooter
{
    width: auto;
    margin-top:50px ;
    height: auto;
    max-width: 244px;
}

.footerFond {
    position: absolute;
    width: 100%;
    height: 100%;
}

.partieHauteFooter
{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0px 0 10px 15%;
}

.partieGaucheFooter, .partieDroiteFooter
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.partieGaucheFooter
{
    
    align-items: flex-start;
}

.liensFooter {
    margin-top: 10px;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: large;
}

.lienLogoFooter
{
    margin-bottom: 20px;
}

.mailContainer, .telContainer
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mailPicto
{
    width:20px; 
    height: 16px;
}

.telPicto
{
    width:20px; 
    height: 20px;

}

.mailLien, .numeroTel
{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: large;
    margin-left: 10px;

}

.lienFooter {
    white-space: nowrap;
    text-align: left;
    margin-top: 10%;
    /* font-size: 1vw; */
}

.lienMentions
{
    margin-bottom: 0;
}

.buttonContact
{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-width: 210px;
    height: 45px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
}

.buttonContactFooter
{
    position: relative;
    background-color: black;
    color: #FCB041;
}

.droitsContainer {
    bottom: 0;
}

.petitsLiens
{
    margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.petitsLiens p
{
    margin: 0 5px 0 5px !important; 
}

/* menu burger */

.menuBurger
{
    position: absolute;
    right: 20px;
    z-index: 2;
}

/* Sidenav menu */
.sidenav {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: left 0.5s ease;
    justify-content: center;
    align-items: flex-start;
}

/* Sidenav menu links */
.sidenav a {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Active class */
.sidenav.active {
    display: flex;
    left: 0;
}

/* Close btn */
.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

/* Icône burger */
.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.btnFooter
{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #000000;
    width: 40px;
    height: 40px;
    margin-right: 5%;
}

.reseauxContainer
{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* responsive */

@media only screen and (max-width: 800px) {
    .partieHauteFooter
    {
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .partieGaucheFooter
    {
        justify-content: center;
        align-items: center;
    }
    .liensFooter
    {
        align-items: center;
    }
    .lienHeader 
    {
        display: none;
    }
    .menuBurger
    {
        display: block;
    }
}
@media only screen and (min-width: 800px) {
    .lienHeader 
    {
        display: block;
    }
    .menuBurger
    {
        display: none;
    }
}


/* css pour animations */

.moveToTop
{
    top: 0;
}
.moveOut
{
    top: -70px;
}