@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

html,
body {
    overflow-x: hidden;
}

html {
    height: 100%;
}

.decorations1
{
    position: absolute;
    right: 100px;
    top: 0px;
}

.rond2
{
    z-index: 1;
    position: absolute;
    right: -500px;
    top: -500px;
    border-radius: 100%;
    width: 1053px;
    height: 1053px;
    /* Jaune */
    background: #FCB041;
}
.rond1
{
    z-index: 0;
    position: absolute;
    width: 474px;
    height: 474px;
    right: -300px;
    top: 260px;    
    /* Marron */
    border-radius: 100%;
    background: #3F2C10;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.container {
    z-index: 1;
    margin: 150px 10% 100px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.premierBloc {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 350px;
}

h2
{
    font-family: 'Unbounded', cursive;
}
p
{
    font-family: 'Raleway', sans-serif;
}
.premierBloc p
{
    width: 50%;
}

.premierBloc button
{
    width: 248px;
    height: 55px;
    /* Jaune */
    font-family: 'Raleway', sans-serif;
    border: none;
    color: white;
    font-size: large;
    font-weight: 700;
    background: #FCB041;
    border-radius: 40px;
}

.secondBloc
{
    margin-bottom: 100px;
}


.secondBlocVisuelContainer
{
    margin-top: 30px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.decoSecondBloc
{
    position: absolute;
    top: 900px;

}

.rond1SecondBloc
{
    position: absolute;
    height: 299px;
    width: 299px;
    left: -130px;
    top: 90px;
    border-radius: 100%;
    background-color: #3F2C10;

}
.rond2SecondBloc
{
    position: absolute;
    height: 239px;
    width: 239px;
    left: -130px;
    top: 0px;
    border-radius: 100%;
    background-color: #FCB041;

}

.visuSecondBloc
{
    background-color: gray;
    width: 90%;
    height: 433px;
}

.troisiemeBloc
{
    width: 100%;
    margin-bottom: 100px;
}

.troisiemeBloc a
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageCarroussel
{
    width: auto;
    height: auto;
}

.quatriemeBloc
{
    margin-bottom: 100px;
}

.quatriemeBlocVisuelContainer {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.decoQuatriemeBloc {
    position: absolute;
    top: 1910px;
    right: -140px;

}

.rond1QuatriemeBloc {
    position: absolute;
    height: 239px;
    width: 239px;
    right: 0;
    top: 190px;
    border-radius: 100%;
    background-color: #3F2C10;
    
}

.rond2QuatriemeBloc {
    position: absolute;
    height: 299px;
    width: 299px;
    right: 0px;
    top: 0px;
    border-radius: 100%;
    background-color: #FCB041;

}

.visuQuatriemeBloc {
    background-color: gray;
    width: 90%;
    height: 433px;
}

@media only screen and (max-width: 800px) {
    .container
    {
        margin: 150px 0 100px 0;
    }
    .rond2 {
        z-index: 1;
        position: absolute;
        right: -300px;
        top: -200px;
        border-radius: 100%;
        width: 500px;
        height: 500px;
        /* Jaune */
        background: #FCB041;
    }

    .rond1 {
        z-index: 0;
        position: absolute;
        width: 274px;
        height: 274px;
        right: -190px;
        top: 120px;
        /* Marron */
        border-radius: 100%;
        background: #3F2C10;
    }
}